@font-face {
	font-family: 'FlowBlock';
	src: url('/fonts/FlowBlock-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('/fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('/fonts/SourceCodePro-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

body {
	--border-width: 4px;
	font-family: 'Source Code Pro', monospace;
	font-size: 18px;
	--color-success: #059669;
	--color-error: #ef4444;
	--color-warning: #d97706;
	--color-info: #3b82f6;
	--box-shadow-3d: 4px 0 0 0 black, 0 4px 0 0 black, 4px 4px 0 0 black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
}
